.navbar-div{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: blueviolet;
}

.navbar-element{
    font-family: "Protest Strike", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: antiquewhite !important;
}